.banner {
  background-image: url(../../../assets/img/Plane/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  border: 5px solid var(--orange-color);
  border-width: 0px 0px 5px 0px;
}
