.card {
  height: 500px;
  width: 400px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  img {
    width: 380px;
    border-radius: 15px;
  }
}

.info {
  padding: 0px 10px;
  .name {
    padding: 20px 0px;
    p:nth-child(1) {
      font-size: 23px;
      font-weight: 700;
    }
    p:nth-child(2) {
      font-size: 17px;
      color: gray;
    }
  }

  .ps {
    p:nth-child(1) {
      color: var(--orange-color2);
      font-size: 19px;
      font-weight: 800;
      &::after {
        content: " / Per Hour";
        color: gray;
        font-weight: 300;
        font-size: 15px;
      }
    }
    p:nth-child(2) {
      display: flex;
      align-items: center;
      font-size: 17px;
      svg {
        color: var(--orange-color2);
        font-size: 30px;
        margin-right: 5px;
      }
    }
  }

  .button {
    margin-top: 20px;
    button {
      background-color: var(--orange-color2);
      border-radius: 25px;
      border: none;
      font-size: 18px;
      padding: 10px 20px;
      cursor: pointer;
      color: var(--white-color);
      display: flex;
      align-items: center;
      transition: 0.5s all;
      &:hover {
        color: var(--blue-color2);
      }
    }
    svg {
      font-size: 25px;
      margin-right: 10px;
    }
  }
}

/*Responsive*/
@media only screen and (max-width: 900px) {
  .card {
    width: 380px;
    img {
      width: 360px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .card {
    width: 500px;
    height: 550px;
    padding: 20px;
    img {
      width: 460px;
    }
  }
}

@media only screen and (max-width: 530px) {
  .card {
    width: 450px;
    img {
      width: 410px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .card {
    width: 400px;
    img {
      width: 360px;
    }
  }
}

@media only screen and (max-width: 430px) {
  .card {
    width: 350px;
    height: 450px;
    img {
      width: 310px;
    }
  }
}

@media only screen and (max-width: 380px) {
  .card {
    width: 310px;
    img {
      width: 270px;
    }
  }
}
