.card {
  .memberImage {
    img {
      height: 400px;
      width: 300px;
      border-radius: 20px;
      transition: 1s all;
      &:hover {
        scale: 1.03;
      }
    }
  }
  .memberInfo {
    color: rgb(80, 80, 80);
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
  }
}

/*Responsive*/

@media only screen and (max-width: 1280px) {
  .card {
    .memberInfo {
      margin-top: 5px;
    }
    margin-top: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .card {
    .memberImage {
      img {
        height: 500px;
        width: 350px;
      }
    }
    .memberInfo {
      font-size: 22px;
    }
  }
}

@media only screen and (max-width: 460px) {
  .card {
    .memberImage {
      img {
        height: 400px;
        width: 320px;
      }
    }
    .memberInfo {
      font-size: 20px;
    }
  }
}
@media only screen and (max-width: 400px) {
  .card {
    .memberImage {
      img {
        width: 300px;
      }
    }
    .memberInfo {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 340px) {
  .card {
    .memberImage {
      img {
        width: 280px;
      }
    }
  }
}
