.content {
  display: flex !important;
}
.book {
  min-height: 400px;
  background-color: var(--blue-color2);
  padding: 30px 100px;
  width: 100%;
  h1 {
    color: var(--orange-color);
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: sans-serif "Times New Roman", Times, serif;
    font-weight: 400;
  }
  h3 {
    color: white;
    padding-top: 100px;
    font-size: 25px;
  }
}

.bookCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media only screen and (max-width: 1850px) {
  .book {
    padding: 30px 50px;
  }
}

@media only screen and (max-width: 1280px) {
  .book {
    padding: 30px 20px;
  }
}

@media only screen and (max-width: 800px) {
  .content {
    display: flex !important;
    flex-direction: column;
  }
}
