.banner {
  background-image: url("../../../assets/img/Contact/Banner/banner.jpg");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-size: 40px;
}
