.footer {
  // background: url(../../assets/img/Footer/Footer.jpg);
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  min-height: 500px;
  background-position: center;
  background-color: var(--blue-color);
}
