* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

/* For ios devices */
input {
  -webkit-appearance: none !important; /* Reset default Safari styles */
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  color: var(--orange-color);
  background-color: var(--blue-color2);
}

:root {
  --blue-color: #0b2e2f; /* Deep emerald green */
  --blue-color2: #134240; /* Dark teal/green with richness */
  --blue-color3: #3a6151; /* Muted jade green */
  --blue-color4: #587865; /* Soft mossy green for accents */

  --orange-color: #bfa46f; /* Antique gold */
  --orange-color2: #d9c78a; /* Pale gold / champagne */

  --white-color: #f8f5f0; /* Ivory cream */
  --white-color2: #e9e4dc; /* Soft beige/light stone */

  --swiper-pagination-color: orange;
}

/* Scrollbar settings*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #222222;
}

::-webkit-scrollbar-thumb {
  background: var(--orange-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #ff7f00;
}
