* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

/* For ios devices */
input {
  -webkit-appearance: none !important; /* Reset default Safari styles */
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --blue-color: #19232d;
  --blue-color2: #2c3742;
  --blue-color3: #1f2e3c;
  --blue-color4: #364350;
  --orange-color: #bea47b;
  --orange-color2: #dcbb87;
  --white-color: #fdfdfd;
  --white-color2: #f5fbff;

  --swiper-pagination-color: orange;
}

/* Scrollbar settings*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #222222;
}

::-webkit-scrollbar-thumb {
  background: var(--orange-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #ff7f00;
}
